// Custom.scss

$primary: #bc6ff1;
$secondary:#52057b;
$dark: #000000;
.bg-animate  {
  background: linear-gradient(265deg, $primary, #2bbfd7, $secondary);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 18s ease infinite;
  -moz-animation: AnimationName 18s ease infinite;
  -o-animation: AnimationName 18s ease infinite;
  animation: AnimationName 18s ease infinite;
}
html,body
{
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
main{
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

@-webkit-keyframes AnimationName {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}
}
@-o-keyframes AnimationName {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}
}
@keyframes AnimationName {
  0%{background-position:92% 0%}
  50%{background-position:9% 100%}
  100%{background-position:92% 0%}
}
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../node_modules/bootstrap/scss/bootstrap";

// Then add additional custom code here
// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here
