# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\prin\x0g38\Jake_Ngatchu\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
